{% extends "layouts/base.html" %}

{% block title %} Synchronizacja stanów {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div style="min-height: 800px">
    <h2 style="padding-bottom: 45px">Ręczne synchronizowanie stanów</h2>
    <form id="reczne_stany_form" method="post">{% csrf_token %}
        <input class="btn btn-secondary" type="submit" value="Synchronizuj stany"/>
    </form>
    <div style="padding-top:15px">
    </div>
    <hr>
    <b>Data ostatniej aktualizacji:</b> {{ dane_synchronizacja.0.ostatnia_data|date:"d-m-Y H:i:s" }}<br>
    <b>Czy aktualnie trwa synchronizacja?</b>
    <span id="span_czy_zlecono">
    {% if dane_synchronizacja.0.czy_zlecono_synchronizacje == False %}
        Nie
    {% endif %}
    {% if dane_synchronizacja.0.czy_zlecono_synchronizacje == True %}
        Tak
    {% endif %}
    </span>


</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% load static %}
<script type="text/javascript" src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript">
//ustawienia infobox
    const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-gray'
            },
            buttonsStyling: false
        });
//po kliknieciu submit wywolaj skrypt synchronizacji
    $(document).on("submit","#reczne_stany_form", function(e){
            document.getElementById("span_czy_zlecono").innerText = "Tak";
            e.preventDefault();
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
            type: 'POST',
            url: '/synchronizacja_stanow/',
            data: {csrfmiddlewaretoken:csrftoken},
            success:function(){
            console.log('dokonało się');
            }
            });


             swalWithBootstrapButtons.fire({
                icon: 'success',
                title: 'Zlecono aktualizację stanów.',
                text:  "Potrwa to około 20 minut. Możesz zamknąć tę stronę.",
                showConfirmButton: true,
                timer: 8000
            })
});


</script>

{% endblock javascripts %}